@charset "utf-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: linear-gradient(to top, var(--cor4), var(--cor1));
    }

    section#login {
        width: 75%;
        height: 400px;
    }

    div#img {
        float: left;
        width: 40%;
        height: 100%;
        border-radius: 15px 0 0 15px;
    }

    div#form {
        float: left;
        width: 60%;
    }

    div#form h1 {
        padding: 30px 0;
    }

    div#form form > label {
        width: 80%;
    }

    div.checkbox {
        display: block;
        width: 80%;
        margin: auto;
        text-align: left;
    }

    div.input {
        width: 80%;
        margin: auto;
    }

    div.input input {
        margin-top: 30px;
    }
}

@media screen and (min-width:992px) {
    body {
        background-image: linear-gradient(to top, var(--cor4), var(--cor1));
    }

    section#login {
        width: 900px;
        height: 450px;
    }

    div#img {
        float: right;
        width: 50%;
        height: 100%;
        border-radius: 0 15px 15px 0;
    }

    div#form {
        float: right;
        width: 50%;
    }

    div#form h1 {
        padding: 50px 0;
    }

    div#form form > label {
        width: 80%;
    }

    div.checkbox {
        display: block;
        width: 80%;
        margin: auto;
        text-align: left;
    }

    div.input {
        width: 80%;
        margin: auto;
    }

    div.input input {
        margin-top: 30px;
    }

}